 /*------*/
@media screen and (min-width: 1500px) {
  .about .Razmer-v2-row-0 .Animes_Mangas .b-catalog_entry,
  .about .Razmer-v2-row-0 .Animes_Mangas .b-catalog_entry:last-child {
    width: calc(100% / 5) !important;
  }
}
 /*------*/
@media screen and (min-width: 1200px) {
  .about .Razmer-v2-row-1 .Animes_Mangas-1 .b-catalog_entry,
  .about .Razmer-v2-row-1 .Animes_Mangas-1 .b-catalog_entry:last-child {
    width: calc(100% / 8) !important;
  }
}
@media screen and (min-width: 1500px) {
  .about .Razmer-v2-row-1 .Animes_Mangas-1 .b-catalog_entry,
  .about .Razmer-v2-row-1 .Animes_Mangas-1 .b-catalog_entry:last-child {
    width: calc(100% / 9) !important;
  }
}

@media screen and (min-width: 1900px) {
  .about .Razmer-v2-row-1 .Animes_Mangas-1 .b-catalog_entry,
  .about .Razmer-v2-row-1 .Animes_Mangas-1 .b-catalog_entry:last-child {
    width: calc(100% / 10) !important;
  }
}
/*------*/

@media screen and (min-width: 1300px) {
  .Ssylki-anime-v-1-standard {
    width: calc(100% / 8 - 1 * 1%);
  }
}
@media screen and (min-width: 1450px) {
  .Ssylki-anime-v-1-standard {
    width: calc(100% / 8 - 1 * 1%);
  }
}
@media screen and (min-width: 1600px) {
  .Ssylki-anime-v-1-standard {
    width: calc(100% / 9 - 1 * 1%);
    margin: 5px 0.37% 3.5rem 0.37%;
  }
}
/*------*/

@media screen and (min-width: 1400px) {
  .Ssylki-anime-v-1 {
    width: calc(100% / 5 - 1 * 1%);
  }
}
@media screen and (min-width: 1600px) {
  .Ssylki-anime-v-1 {
    margin: 5px 0.37% 3.5rem 0.37%;
  }
}
/*------*/

@media screen and (min-width: 1600px) {
  .Ssylki-anime {
    width: calc(100% / 5);
  }
}